.gout*
vendor/local_libs/
config/scale_think_sns.yml
config/shards/daily_counters.json
config/shards/installations.json
config/shards/app_counters.json
config/redis_cache.yml
config/environments/development.rb
config/initializers/hoptoad.rb
coverage/
*.swo
*.swp
*.swo
*.swn
*.pyc
config/mongoid.yml
config/hbase.yml
config/overrides.yml
.bundle
nbproject
.project
.idea
db/*.sqlite3
log/*.log
tmp/**/*
.DS_Store
public/uploads
config/resque.yml
config/scale_think_sns.yml
config/unicorn_development.rb
/tags
/Icon.png
*~
*#
.#*
.rspec
Gemfile.lock

dump.rdb
._.TemporaryItems
REVISION
config/queue_mapping.yml
lib/._.DS_Store
lib/umeng/._.DS_Store
log
public/system
tmp/
umeng-ui.esproj/

public/salon/
public/salon.rar
public/stylesheets/cached_*
public/javascripts/cached_*
vendor/bundle
._.DS_Store

bundler_stubs/
bin/
public/download/
.rvmrc
