<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UMtrack</title>
<link href="/stylesheets/ios_channels/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/ios_channels/portal.css" rel="stylesheet" type="text/css" />
{%if userName%}
<link href="/stylesheets/ios_channels/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
{%endif%}
{%if page == 'feedback'%}
<link href="/stylesheets/ios_channels/feedback.css" rel="stylesheet" type="text/css" />
{%endif%}
</head>
<body>
<!-- header start -->
<div class="header_wrap">
	<div class="header">
		<div class="part_link">
			{%if userName%}
            	{{userName}}<a href="/logout">退出登录</a>
            {%else%}
                <a href="/login">登录</a>
            {%endif%}
		</div>
		<div class="logo"><a href="/index"></a></div>
	</div>
</div>
<!-- header end -->