{%include 'header.html'%}
<div class="prompt">
	<p class="text_1">您的申请这在被审核，请耐心等候。如有疑问请联系：</p>
	<p class="text_2">support@umeng.com</p>
	<p style="position: absolute;top: 220px;padding: 0 165px;">感谢你对友盟产品的支持！</p>
	<a href="/logout" class="link_return">返回首页</a>
</div>
{% include 'who_used.html'%}
{%include 'bottom.html'%}
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34123762-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
