<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>UMtrack OP</title>
<link href="/stylesheets/ios_channels/default.css" rel="stylesheet" type="text/css" />
<link href="/stylesheets/ios_channels/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" type="text/css" />
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/ios_channels/pageload.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/ios_channels/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/ios_channels/ui.js"></script>
<script type="text/javascript" src="/javascripts/ios_channels/jquery.blockUI-2.39.js"></script>
<script type="text/javascript" src="/javascripts/ios_channels/jquery.tablesorter.js"></script>
<script type="text/javascript">
$(function(){
	var get = new Array();
	get = Get();
	if(get.appname){
		get.appname = decodeURI(get.appname);
		$("#searchList").append("以下是对\""+get.appname+"\"的搜索结果：");
		$.getJSON(window.ajaxBaseUrl+"/op/search/?appname="+get.appname+"&callback=?",
			function(data){
				$(".umengADsystem_container *").hide();
				for(i in data.data){
					$("#searchList").append('<li><a href="/channels?app_key='+data.data[i].appkey+'">'+data.data[i].appname+'</a><span>'+data.data[i].url+'</span></li>');
				}
				$("#searchList").show();

			});
	}else if(get.user){
		if(get.user == "all"){
			$.getJSON(window.ajaxBaseUrl+"/op/user/"+"?callback=?",
				function(data){
					$(".umengADsystem_container *").hide();
					$("#userList").show();
					$("#userList *").show();
					for(i in data.data){
					$("#userList tbody").append('<tr><td>'+data.data[i].userName+'</td><td>'+data.data[i].appName+'</td><td><div style="overflow:hidden;word-break:break-all;word-warp:warp; ">'+data.data[i].appUrl+'</div></td><td>'+data.data[i].email+'</td><td>'+data.data[i].qq+'</td><td>'+(data.data[i].status=="rejected"?'<div class="tos rejected">未通过</div>':data.data[i].status=='pending'?'<div class="tof toBtnL">x</div><div class="tos toBtnR">&radic;</div>':'<div class="tof ok">已通过</div>')+'</td></tr>');	
					}
					$("#userList table").tablesorter({sortList:[[5,1]], widgets: ['zebra']});
					$(".tos").each(function(index, element) {
					    $(this).click(function(e) {
					        checkUser(this,"ok");
					    });
					});
					$(".tof").each(function(index, element) {
					    $(this).click(function(e) {
					        checkUser(this,"rejected");
					    });
					});
				});
		}

	}else{
		var d = new Date();
		get.date = get.date?get.date:d.getFullYear()+"-"+((d.getMonth()+1)<10?"0"+(d.getMonth()+1):(d.getMonth()+1))+"-"+(d.getDate()<10?"0":"")+d.getDate();
		getTable(get.date);

	}
	 $("#date").datepicker({    //绑定开始日期  
 			dateFormat:'yy-mm-dd',
            changeMonth:true,   //显示下拉列表月份  
            changeYear:true,    //显示下拉列表年份  
            firstDay:"1",           //设置开始为1号  
            onSelect:function(dateText,inst){  
				window.location.href = "/admin?date="+$("#date").val();
                }  
            });
	$("#date").change(function(){
	});
})

</script>
<script type="text/javascript">
function Get(){
	var k = location.search.replace("?","").split('=')[0] || '';
	var v = location.search.split('=')[1] || '';
	var get = new Array();
	get[k] =v;	
	return get;
}
function getTable(date){
		$.getJSON(window.ajaxBaseUrl+"/op/channel/?date="+date+"&callback=?",function(data){
			for(i in data.data){
				var randomColor = "rgba("+((1+i)*137)%256+","+((1+i)*167)%256+","+((1+i)*197)%256+",0.18)";
				for(j in data.data[i]){
					$("#dataList .part_table table tbody").append('<tr><td style="background:'+randomColor+';"><a href="/channels?app_key='+data.data[i][j].appkey+'">'+data.data[i][j].appname+'</a></td><td style="background:'+randomColor+';"><div style="width:226px; overflow:hidden; word-wrap:break-word; word-break:break-all;"><a href="/channel_detail?cid='+data.data[i][j].channelkey+'&appid='+data.data[i][j].appkey+'">'+data.data[i][j].source+'</a></div></td><td style="background:'+randomColor+';">'+data.data[i][j].click+'</td><td style="background:'+randomColor+';">'+(data.data[i][j].click-data.data[i][j].click_pc)+'</td><td style="background:'+randomColor+';">'+data.data[i][j].click_pc+'</td><td style="background:'+randomColor+';">'+data.data[i][j].install+'</td><td style="background:'+randomColor+';">'+data.data[i][j].rate+'</td><td style="background:'+randomColor+';">'+data.data[i][j].mobile_rate+'</td></tr>');					
				}
			}
			$(".umengADsystem_title_primary input").val(date);
			 $("#table").tablesorter({sortList:[[5,1]], widgets: ['zebra']});
		});
}
function checkUser(e,to){
	var user = $(e).parent("td").parent("tr").children("td").html();
	$.getJSON(window.ajaxBaseUrl+"/op/action/?userName="+user+"&type="+to+"&callback=?",function(data){
		if(data.data){
			alert_msg(user+"状态变更为"+to+"成功！");
			if(to == "ok"){
				$(e).parent("td").html('<div class="tof ok" onclick="checkUser(this,\'rejected\')">已通过</div>');
			}else{
				$(e).parent("td").html('<div class="tos rejected" onclick="checkUser(this,\'ok\')">未通过</div>');
			}
		}else{
			alert_msg(user+"状态变更为"+to+"失败。。。");
		}
	});

	
}
</script>
</head>
<body>
<!-- 独立头部 start -->
<div class="umengADsystem_header">
	<div class="umengADsystem_header_main">
		<div class="umengADsystem_header_logo" style="width:120px;"><a href="http://www.umtrack.com">UMtrack </a></div>
		<a href="/admin"  class="umengADsystem_header_logo" style="display: block;line-height: 55px;color: #333;font-weight: bold;font-size: 22px;text-shadow: 2px 2px white;">OP</a>
		<div style="float: right;margin-top: 25px;"><a href="/users/sign_out">退出登陆</a></div>
		<nav><a href="/admin">数据</a><a href="/admin?user=all">用户</a></nav>
		<div class="umtrack_search"><form method ="get"><input type="text" name="appname" /><input type="submit" value="搜索" /></form></div></div>
	</div>
</div>
<!-- 独立头部 end -->
<!-- 正文 start -->
<div class="umengADsystem_container">
	<div id="searchList"></div>
	<!-- 主标题start -->
	<div class="umengADsystem_title_primary"><input id="date" type="text" /> </div>
	<!-- 主标题end -->
	<!-- table start -->
	<div class="umengADsystem_tabel_data" id="dataList">
		<div class="part_table"  id="applist">
			<table id="table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th width="20%">应用</th>
						<th width="20%">渠道</th>
						<th width="10%">点击</th>
						<th width="10%">点击(Mobile)</th>
						<th width="10%">点击(PC)</th>
						<th width="10%">激活</th>
						<th width="10%">转化率</th>
						<th width="10%" class="last">转化率(Mobile)</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="part_foot"></div>
	</div>
	<!-- table end -->	
	<!-- table start -->
	<div class="umengADsystem_tabel_data" id="userList" style="display:none;">
		<div class="part_table"  id="applist">
			<table id="table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
					<tr>
						<th width="18%;">账户</th>
						<th width="18%;">应用名</th>
						<th>应用地址</th>
						<th width="18%;">E-mail</th>
						<th width="18%;">QQ</th>
						<th class="last" width="8%">状态</th>
					</tr>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
		<div class="part_foot"></div>
	</div>
	<!-- table end -->
</div>
<!-- 正文end -->
</body>
</html>
