<a class="feed_back_all" target="_blank" href="/feedback">反馈</a>
<div class="footer">
	<div class="list clearfix">
		<dl class="first">
			<dt><span class="caption"><a href="http://www.umeng.com/analytics_overview">统计工具</a></span></dt>
			<dd><a href="http://www.umeng.com/analytics_overview">概况</a></dd>
			<dd><a href="http://www.umeng.com/analytics_channel">渠道</a></dd>
			<dd><a href="http://www.umeng.com/analytics_customevents">自定义事件</a></dd>
			<dd><a href="http://www.umeng.com/analytics_funnel">漏斗</a></dd>
			<dd><a href="http://www.umeng.com/analytics_tools">开发工具</a></dd>
		</dl>
		<dl class="secondary">
			<dt><span class="caption"><a href="http://www.umeng.com/component_sns">组件</a></span></dt>
			<dd><a href="http://www.umeng.com/component_sns">SNS分享</a></dd>
			<dd><a href="http://www.umeng.com/component_feedback">用户反馈</a></dd>
			<dd><a href="http://www.umeng.com/component_update">自动更新</a></dd>
		</dl>
		<dl class="third">
			<dt><span class="caption"><a href="http://www.umeng.com/appunion_adsmanage">应用联盟</a></span></dt>
			<dd><a href="http://www.umeng.com/appunion_adsmanage">广告管理</a></dd>
			<dd><a href="http://www.umeng.com/appunion_exchange">交换网络</a></dd>
		</dl>
		<dl class="fourth">
			<dt><span class="caption"><a href="http://www.umeng.com/umengdata_reports">友盟数据</a></span></dt>
			<dd><a href="http://www.umeng.com/umengdata_reports">数据报告</a></dd>
		</dl>
		<dl class="fifth">
			<dt><span class="caption"><a href="http://dev.umeng.com" target="_blank">开发者中心</a></span></dt>
			<dd><a href="http://dev.umeng.com/getstart/getstart_ios.html" target="_blank">快速入门</a></dd>
			<dd><a href="http://dev.umeng.com/faq/faq_com.html" target="_blank">FAQ</a></dd>
			<dd><a href="http://dev.umeng.com/sdkdownload/sdkdownload_quickdownload.html" target="_blank">SDK下载</a></dd>
			<dd><a href="http://dev.umeng.com/doc/document_ana_android.html" target="_blank">文档中心</a></dd>
			<dd><a href="http://dev.umeng.com/salon/salon_index.html" target="_blank">开发者沙龙</a></dd>
		</dl>
		<dl class="fifth">
			<dt><span class="caption"><a href="http://www.umeng.com/lab" target="_blank">友盟实验室</a></span></dt>
			<dd><a href="http://www.umeng.com/lab" target="_blank">Android渠道打包工具</a></dd>
			<dd><a href="http://www.umtrack.com/" target="_blank">iOS渠道激活统计工具</a></dd>
		</dl>
		<dl class="sixth">
			<dt><span class="caption"><a href="http://www.umeng.com/aboutus_about">关于我们</a></span></dt>
			<dd><a href="http://www.umeng.com/aboutus_about" target="_blank">关于友盟</a></dd>
			<dd><a href="http://www.umeng.com/aboutus_contact" target="_blank">联系友盟</a></dd>
			<dd><a href="http://www.umeng.com/aboutus_partner" target="_blank">合作伙伴</a></dd>
			<dd><a href="http://www.umeng.com/joinus" target="_blank">加入友盟</a></dd>
			<dd><a href="http://blog.umeng.com" target="_blank">Blog</a></dd>
			<dd><a href="http://t.sina.com.cn/umengcom" target="_blank">新浪微博</a></dd>
			<dd><a href="http://t.qq.com/umengumeng" target="_blank">腾讯微博</a></dd>
		</dl>
		<div class="copyright">
			<p><span class="logo">移动开发者服务平台</span></p>
			<p>© 2010-2012 Umeng.com , All Rights Reserved.</p>
			<p><a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=WP0XP9XL01psnWRLpbY2Lfn8LyfmvJVbrQsyy3B8yfnT1MkjFmGQ!-903956894" target="_blank">京ICP备案11021163号-6</a> | <a href="http://www.miibeian.gov.cn/state/outPortal/loginPortal.action;jsessionid=WP0XP9XL01psnWRLpbY2Lfn8LyfmvJVbrQsyy3B8yfnT1MkjFmGQ!-903956894" target="_blank">京公网安备 110108008330</a></p>
		</div>
	</div>
</div>
