{%include 'header.html'%}
<!-- 正文 start -->
<div class="umengADsystem_container">
	<!-- 面包屑start -->
	<div class="umengADsystem_breadcrumbs">
		<ul>
			<li class="first_child finish"><span class="caption">第一步：创建应用</span><span class="second">监控从创建要监控的应用开始</span></li>
			<li class="current"><span class="caption">第二步：创建渠道</span><span class="second">应用需要嵌入代码、创建推广渠道、发布渠道链接、查看监控数据</span></li>
			<li class="last_child"><span class="caption">第三步：渠道报表</span><span class="second">查看渠道监控数据</span></li>
		</ul>
	</div>
	<!-- 面包屑end -->
	<!-- 主标题start -->
	<div class="umengADsystem_title_primary"><a href="/apps">&lt;&lt;返回应用列表</a><!--&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" id="issue_box_href">进入Issue Box&gt;&gt;</a>--> </div>
	<!-- 主标题end -->
	
	<!-- 信息面板start -->
	<div class="umengADsystem_panel_info ">
		<div class="main">
			<table cellspacing="0" cellpadding="0" border="0" width="100%">
				<tbody>
					<tr>
						<th class="title"></th>
					</tr>
					<tr>
						<td class="title"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<!-- 信息面板end -->
	
	<!-- 集成代码 start -->
	<div class="umengADsystem_combo">
		<h5><a title="点此展开/收起安装说明" href="javascript:void(0)" class="down">将此段代码复制到该方法中：
- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions</a></h5>
		<div class="main_content" style="display:block;">
			<div class="umengADsystem_panel_code">
				<div class="bar"></div>
				<div class="dp-c">
					<div>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp;&nbsp;</span><span style="color:#703daa">NSString</span><span style="color:#000000"> * appKey = </span>@"<span class="appkey">YourUmengAppTrackingSystemAppKey</span>"<span style="color:#000000">;</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> * deviceName = [[[</span><span style="color:#703daa">UIDevice</span><span style="color:#000000"> </span>currentDevice<span style="color:#000000">] </span>name<span style="color:#000000">] </span>stringByAddingPercentEscapesUsingEncoding<span style="color:#000000">:</span>NSUTF8StringEncoding<span style="color:#000000">];</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> * udid = [[</span><span style="color:#703daa">UIDevice</span><span style="color:#000000"> </span>currentDevice<span style="color:#000000">] </span>uniqueIdentifier<span style="color:#000000">];</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> * urlString = [</span><span style="color:#703daa">NSString</span><span style="color:#000000"> </span><span style="color:#3d1d81">stringWithFormat</span><span style="color:#000000">:</span>@"http://log.umtrack.com/ping/%@/?devicename=%@&amp;udid=%@"<span style="color:#000000">, appKey,deviceName,udid];</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; [</span><span style="color:#703daa">NSURLConnection</span><span style="color:#000000"> </span>connectionWithRequest<span style="color:#000000">:[</span><span style="color:#703daa">NSURLRequest</span><span style="color:#000000"> </span>requestWithURL<span style="color:#000000">: [</span><span style="color:#703daa">NSURL</span><span style="color:#000000"> </span>URLWithString<span style="color:#000000">:urlString]] </span>delegate<span style="color:#000000">:</span><span style="color:#bb2ca2">nil</span><span style="color:#000000">];</span></p>
					</div>
				</div>
						<a class="copyText copyTextBtn" href="javascript:void(0);">复制代码</a>
		<p class="textToCopy" style="display:none" id="theCode"></p>

			</div>
		</div>
		<li class="umengADsystem_align_right" style="margin:10px 30px 0 0;"><a href="javascript:void(0);" class="umengADsystem_font_gray" id="getMacMethod">获取mac地址代码说明</a>				
</li>

		<!--<div class="main_content" style="display:block;position:relative;height:0px; overflow:hidden;padding:0;">-->
		<div class="main_content" style="display:block;position:relative;height:0px; overflow:hidden;padding:0;">
			<div class="umengADsystem_panel_code">
				<div class="dp-c">
					<div>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp;&nbsp;</span><span style="color:#703daa">NSString</span><span style="color:#000000"> * appKey = </span>@"<span class="appkey">YourUmengAppTrackingSystemAppKey</span>"<span style="color:#000000">;</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> * deviceName = [[[</span><span style="color:#703daa">UIDevice</span><span style="color:#000000"> </span>currentDevice<span style="color:#000000">] </span>name<span style="color:#000000">] </span>stringByAddingPercentEscapesUsingEncoding<span style="color:#000000">:</span>NSUTF8StringEncoding<span style="color:#000000">];</span></p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> * udid = [[</span><span style="color:#703daa">UIDevice</span><span style="color:#000000"> </span>currentDevice<span style="color:#000000">] </span>uniqueIdentifier<span style="color:#000000">];</span></p>
					<div><span style="font-family:Menlo;font-size:11px">&nbsp; &nbsp;&nbsp;</span><span style="font-family:Menlo;font-size:11px;color:rgb(112,61,170)">NSString</span><span style="font-family:Menlo;font-size:11px">&nbsp;* mac = [</span><span style="font-family:Menlo;font-size:11px;color:rgb(187,44,162)">self</span><span style="font-family:Menlo;font-size:11px">&nbsp;</span><span style="font-family:Menlo;font-size:11px;color:rgb(49,89,93)">macString</span><span style="font-family:Menlo;font-size:11px">];</span></div>
					<div><span style="font-family:Menlo;font-size:11px;color:rgb(112,61,170)">&nbsp; &nbsp; NSString</span><span style="font-family:Menlo;font-size:11px">&nbsp;* urlString = [</span><span style="font-family:Menlo;font-size:11px;color:rgb(112,61,170)">NSString</span><span style="font-family:Menlo;font-size:11px">&nbsp;</span><span style="font-family:Menlo;font-size:11px;color:rgb(61,29,129)">stringWithFormat</span><span style="font-family:Menlo;font-size:11px">:</span><span style="color:rgb(209,47,27);font-family:Menlo;font-size:11px">@"http://log.umtrack.com/ping/%@/?devicename=%@&amp;udid=%@&amp;mac=%@"</span><span style="font-family:Menlo;font-size:11px">, appKey,deviceName,udid,mac];</span></div>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(61,29,129)"><span style="color:#000000">&nbsp; &nbsp; [</span><span style="color:#703daa">NSURLConnection</span><span style="color:#000000"> </span>connectionWithRequest<span style="color:#000000">:[</span><span style="color:#703daa">NSURLRequest</span><span style="color:#000000"> </span>requestWithURL<span style="color:#000000">: [</span><span style="color:#703daa">NSURL</span><span style="color:#000000"> </span>URLWithString<span style="color:#000000">:urlString]] </span>delegate<span style="color:#000000">:</span><span style="color:#bb2ca2">nil</span><span style="color:#000000">];</span></p>
					</div>
					<div style="padding:10px 30px;font-weight:bold;">如果使用mac地址作为跟踪设备的标示的话,请添加以下内容</div>
					<div style="padding-left:30px"><p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#78492a">#include </span>&lt;sys/socket.h&gt;</p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#78492a">#include </span>&lt;sys/sysctl.h&gt;</p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#78492a">#include </span>&lt;net/if.h&gt;</p>
					<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#78492a">#include </span>&lt;net/if_dl.h&gt;</p></div>
					<div style="padding-left:30px">
					<p style="margin:0px;font-size:11px;font-family:Menlo">
						- (<span style="color:#703daa">NSString</span> * )macString{</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px"><br/></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">int</span> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; mib[<span style="color:#272ad8">6</span>];</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#703daa">size_t</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; len;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">char</span>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *buf;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">unsigned</span> <span style="color:#bb2ca2">char</span> &nbsp; &nbsp; &nbsp; *ptr;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">struct</span> <span style="color:#703daa">if_msghdr</span>&nbsp; &nbsp; *ifm;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">struct</span> <span style="color:#703daa">sockaddr_dl</span>&nbsp; *sdl;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; mib[<span style="color:#272ad8">0</span>] = <span style="color:#78492a">CTL_NET</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; mib[<span style="color:#272ad8">1</span>] = <span style="color:#78492a">AF_ROUTE</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; mib[<span style="color:#272ad8">2</span>] = <span style="color:#272ad8">0</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; mib[<span style="color:#272ad8">3</span>] = <span style="color:#78492a">AF_LINK</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; mib[<span style="color:#272ad8">4</span>] = <span style="color:#78492a">NET_RT_IFLIST</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">if</span> ((mib[<span style="color:#272ad8">5</span>] = <span style="color:#3d1d81">if_nametoindex</span>(<span style="color:#d12f1b">"en0"</span>)) == <span style="color:#272ad8">0</span>) {</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; &nbsp; &nbsp; </span><span style="color:#3d1d81">printf</span><span style="color:#000000">(</span>"Error: if_nametoindex error\n"<span style="color:#000000">);</span></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; &nbsp; &nbsp; <span style="color:#bb2ca2">return</span> <span style="color:#bb2ca2">NULL</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; }</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">if</span> (<span style="color:#3d1d81">sysctl</span>(mib, <span style="color:#272ad8">6</span>, <span style="color:#bb2ca2">NULL</span>, &amp;len, <span style="color:#bb2ca2">NULL</span>, <span style="color:#272ad8">0</span>) &lt; <span style="color:#272ad8">0</span>) {</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; &nbsp; &nbsp; </span><span style="color:#3d1d81">printf</span><span style="color:#000000">(</span>"Error: sysctl, take 1\n"<span style="color:#000000">);</span></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; &nbsp; &nbsp; <span style="color:#bb2ca2">return</span> <span style="color:#bb2ca2">NULL</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; }</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">if</span> ((buf = <span style="color:#3d1d81">malloc</span>(len)) == <span style="color:#bb2ca2">NULL</span>) {</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; &nbsp; &nbsp; </span><span style="color:#3d1d81">printf</span><span style="color:#000000">(</span>"Could not allocate memory. error!\n"<span style="color:#000000">);</span></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; &nbsp; &nbsp; <span style="color:#bb2ca2">return</span> <span style="color:#bb2ca2">NULL</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; }</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">if</span> (<span style="color:#3d1d81">sysctl</span>(mib, <span style="color:#272ad8">6</span>, buf, &amp;len, <span style="color:#bb2ca2">NULL</span>, <span style="color:#272ad8">0</span>) &lt; <span style="color:#272ad8">0</span>) {</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; &nbsp; &nbsp; </span><span style="color:#3d1d81">printf</span><span style="color:#000000">(</span>"Error: sysctl, take 2"<span style="color:#000000">);</span></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; &nbsp; &nbsp; <span style="color:#3d1d81">free</span>(buf);</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; &nbsp; &nbsp; <span style="color:#bb2ca2">return</span> <span style="color:#bb2ca2">NULL</span>;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; }</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; ifm = (<span style="color:#bb2ca2">struct</span> <span style="color:#703daa">if_msghdr</span> *)buf;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; sdl = (<span style="color:#bb2ca2">struct</span> <span style="color:#703daa">sockaddr_dl</span> *)(ifm + <span style="color:#272ad8">1</span>);</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; ptr = (<span style="color:#bb2ca2">unsigned</span> <span style="color:#bb2ca2">char</span> *)<span style="color:#78492a">LLADDR</span>(sdl);</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;color:rgb(209,47,27)"><span style="color:#000000">&nbsp; &nbsp; </span><span style="color:#703daa">NSString</span><span style="color:#000000"> *macString = [</span><span style="color:#703daa">NSString</span><span style="color:#000000"> </span><span style="color:#3d1d81">stringWithFormat</span><span style="color:#000000">:</span>@"%02X:%02X:%02X:%02X:%02X:%02X"<span style="color:#000000">,</span></p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; *ptr, *(ptr+<span style="color:#272ad8">1</span>), *(ptr+<span style="color:#272ad8">2</span>), *(ptr+<span style="color:#272ad8">3</span>), *(ptr+<span style="color:#272ad8">4</span>), *(ptr+<span style="color:#272ad8">5</span>)];</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#3d1d81">free</span>(buf);</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo;min-height:13px">&nbsp;&nbsp; &nbsp;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">&nbsp; &nbsp; <span style="color:#bb2ca2">return</span>macString;</p>
						<p style="margin:0px;font-size:11px;font-family:Menlo">}</p>
					</div>
				</div>	
					<a class="copyText copyTextBtn" href="javascript:void(0);">复制代码</a>
					<p class="textToCopy" style="display:none" id="theCode2"></p>
			</div>
		</div>
	


	</div>
	<!-- 集成代码 end -->
	<div id='chart'></div>
	<!-- 主标题start -->
	<div class="umengADsystem_title_primary" style="margin-top:20px;">渠道列表</div>
	<!-- 主标题end -->
	<!-- table start -->
	<div class="umengADsystem_tabel_data">
		<div class="part_operation">
			<!-- 选择时间start -->
			<div class="right choose_time">
				<p class="time"><input class="date" id='startDate' type="text" />-<input class="date" id='endDate' type="text" /><input id="changeDate" type="button" value="查询" /><input type="button" class="question ques_pop" /></p>
			</div>
			<!-- 选择时间end -->
			<dl>
				<dd class="addnew">
					<input id="creatNewApp" type="button" value="添加渠道" class="btn_add" style="padding-left:35px;" />
				</dd>
			</dl>
		</div>
		<div class="part_table" id="channel-list">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th>渠道名称</th>
					<th width='11%'>点击(非iOS设备)</th>
					<th width='11%'>点击(iOS设备)</th>
					<th width='11%'>点击(总数)</th>
					<th width='11%'>激活</th>
					<th width='11%'>转化率</th>
					<th width="20%" colspan="2">渠道URL<input type="button" class="question" style="margin-top:-2px" title="此链接需要发布在要推广的渠道上，以便监控渠道带来的后续点击和激活量" /></th>
					<th align='center' width="4%" class="last">删除</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div class="part_foot"></div>
	</div>
	<!-- table end -->
	<div class="umengADsystem_tabel_data chart">
		<div class="part_operation">
			<span class="title">转化率趋势</span>
		</div>
		<div id="chartRate" class="chart_body"></div>
		<div class="part_foot">
			
		</div>
	</div>
</div>
<!-- 正文end -->
<a class="feed_back_all" target="_blank" href="/feedback">反馈</a>
<!-- pop start -->
<div class="umengADsystem_panel_pop" style="display:none;">
	<h6><a href="javascript:void(0);" class="btn_close" title="关闭"></a>添加渠道</h6>
	<div class="main2">
		<table cellspacing="0" cellpadding="0" border="0" width="100%" class="umengADsystem_table_form">
			<tr class="third">
				<th width="100"><span class="umengADsystem_font_blue">* </span>渠道名称：</th>
				<td><input type="text" style="width:230px;" name="channelname" class="input_text"></td>
			</tr>
			<tr class="third">
				<th width="100"></th>
				<td style="color:#666;">渠道名是为推广渠道建立的名称标识，区分渠道不影响统计数据。</td>
			</tr>
			
			<tr class="second">
				<td></td>
				<td><span class="tips_week_warning">渠道名称为空或已存在此渠道！</span></td>
			</tr>
		</table>
		<p class="umengADsystem_align_center" style="margin-top:20px;"><a href="#" class="btn_long">确定</a></p>
	</div>
</div>
<!-- pop end -->
<!-- pop start -->
<div class="umengADsystem_panel_que" style="display:none;">
	<h6><a href="javascript:void(0);" class="btn_close" title="关闭"></a>渠道列表词汇表</h6>
	<div class="main2">
		<p><span>点击(非iOS设备)</span>来自不是iPad，iPhone，iPod的设备点击数量</p>
		<p><span>点击(iOS设备)</span>来自iPad，iPhone，iPod的设备点击数量</p>
		<p><span>点击(总数)</span>来自所有设备（包含PC）的点击总量</p>
		<p><span>激活</span>激活iOS设备的总量</p>
		<p><span>转化率</span>激活量/点击（移动设备）</p>
		<p><span>渠道url</span>此链接需要发布在要推广的渠道上，以便监控渠道带来的后续点击和激活量</p>
	</div>
</div>
<!-- pop end -->
<!-- del start -->
<div class="umengADsystem_del" style="display:none;">
	<h6><a href="javascript:void(0);" class="btn_close" title="关闭"></a>确认删除</h6>
	<div class="main2">
		<span>确定要删除该渠道么？</span>
		<p class="umengADsystem_align_center" style="margin-top:20px;"><a href="#" class="btn_long btn_sure">确定</a><a href="#" class="btn_long btn_cancel">取消</a></p>
	</div>
</div>
<!-- del end -->
<!-- pop start -->
<div class="umengADsystem_panel_clip" style="display:none;">
	<h6><a href="javascript:void(0);" class="btn_close" title="关闭"></a>要复制的内容</h6>
	<textarea class="main2">
	</textarea>
		<p class="umengADsystem_align_center" style="margin-top:3px; color:#AAA;">请按下Ctrl+C进行复制</p>
</div>
<!-- pop end -->
</body>
<script src="/javascripts/jquery.min.js" type="text/javascript"></script>
<script src="/javascripts/ios_channels/jquery.zclip.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/highcharts.js"></script>
<script src="/javascripts/ios_channels/pageload.js" type="text/javascript"></script>
<script type="text/javascript">
window.startDate = location.search.split('=')[2] || '';
window.startDate = window.startDate.split('&')[0] || '';
window.endDate = location.search.split('=')[3] || '';
window.endDate = window.endDate.split('&')[0] || '';
if(window.appkey!=''){
	$('.appkey').html(window.appkey);
	$("#issue_box_href").attr("href",location.href.replace("channels","feedback"));
}
$(function(){
	var domOperation = function(){
		var t = this;
		this.init = function(){
			this.loadChannels();
			this.addChannel();
		};
		if(window.startDate != ""){
			this.loadChannels = function(){
				var options = {
					url : window.ajaxBaseUrl+'/channel/get/'+window.appkey+'/?startDate='+window.startDate+'&endDate='+window.endDate,
					type : 'GET',
					dataType : 'jsonp',
					operationDom : $('#channel-list table')
				};
				load.loadStart();
				load.makeAjax(options,load.makeChannelList);
			};
			$("#startDate").val(window.startDate);		
			$("#endDate").val(window.endDate);		
		}else{
			this.loadChannels = function(){
				var options = {
					url : window.ajaxBaseUrl+'/channel/get/'+window.appkey+'/',
					type : 'GET',
					dataType : 'jsonp',
					operationDom : $('#channel-list table')
				};
				load.loadStart();
				load.makeAjax(options,load.makeChannelList);
			};
		}
		/*this.loadChannels = function(){
			var options = {
				url : window.ajaxBaseUrl+'/get/'+window.appkey+'/',
				type : 'GET',
				dataType : 'jsonp',
				operationDom : $('#channel-list table')
			};
			load.loadStart();
			load.makeAjax(options,load.makeChannelList);
		};*/
		this.addChannel = function(){
			var options = {
				url : window.ajaxBaseUrl+'/channel/generate/'+window.appkey+'/',
				type : 'GET',
				dataType : 'jsonp',
				operationDom : $('#channel-list table')
			};
			$('.umengADsystem_panel_pop').delegate('.btn_long','click',function(){
				option = {
					channelname : "required"
				}
				if(load.checkform(option)){
					var chname = $.trim($('.umengADsystem_panel_pop input[name="channelname"]').val());
					options.params = {'url':load.public.url,'source':chname};
					load.loadStart();
					load.makeAjax(options,function(o,data){
					load.loadEnd();
					o.find('tbody').html("");
					var options = {
						url : window.ajaxBaseUrl+'/channel/get/'+window.appkey+'/',
						type : 'GET',
						dataType : 'jsonp',
						operationDom : $('#channel-list table')
					};
					load.loadStart();
					load.makeAjax(options,load.makeChannelList);
						//o.find('tbody').prepend('<tr id="'+data.channelkey+'"><td class="umengADsystem_align_left"><a href="/ios_channels/channel_detail?cid='+data.channelkey+'&appid='+data.appkey+'">'+data.source+'</a></td><!--<td>0</td><td>0</td>--><td>0</td><td>0</td><td>0.0%</td><td><div class="ui-button"><input class="urlinput" type="text" value="'+data.encodeurl+'" /></div></td><td><span style="position:relative; display:block;"><a class="copyText" href="javascript:void(0);">复制URL</a><p class="textToCopy" style="display:none">'+data.encodeurl+'</p></span></td><td><a onclick="delChannel(\''+data.appkey+'\',\''+data.channelkey+'\')" class="ui-icon ui-icon-circle-close"></a></td></tr>');
					});
					$.unblockUI();
					
				}
			})
			
		};
		
		
	}
	var domOpt = new domOperation();
	domOpt.init();
})

</script>
<script type="text/javascript" src="/javascripts/ios_channels/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="/javascripts/ios_channels/ui.js"></script>
<script type="text/javascript" src="/javascripts/ios_channels/jquery.blockUI-2.39.js"></script>
<script type="text/javascript" >
//弹出start
$('#creatNewApp').click(function() { 
        $.blockUI({ 
            message:  $('.umengADsystem_panel_pop'), 
            css: { 
				width:'450',
				top: '30%',
				border:'none',
				padding:'0',
				cursor:'default',
				textAlign:'left',
				borderRadius:'5px',
				boxShadow:'2px 2px 5px #000'
			},
			overlayCSS:{
				backgroundColor: '#666',
				cursor:'normal'
			}
        }); 
      // setTimeout($.unblockUI, 2000); 
    });
$('.ques_pop').click(function() { 
        $.blockUI({ 
            message:  $('.umengADsystem_panel_que'), 
            css: { 
				width:'450',
				top: '30%',
				border:'none',
				padding:'0',
				cursor:'default',
				textAlign:'left',
				borderRadius:'5px',
				boxShadow:'2px 2px 5px #000'
			},
			overlayCSS:{
				backgroundColor: '#666',
				cursor:'normal'
			}
        }); 
      // setTimeout($.unblockUI, 2000); 
    });

$('.umengADsystem_panel_pop .btn_close,.umengADsystem_panel_que .btn_close').click(function(){//关闭blockUI
	$.unblockUI();
})
$('.umengADsystem_panel_clip .btn_close').click(function(){//关闭blockUI
	$.unblockUI();
})
$('.umengADsystem_del .btn_close').click(function(){//关闭blockUI
	$.unblockUI();
})
$('.umengADsystem_del .btn_cancel').click(function(){//关闭blockUI
	$.unblockUI();
})
//弹出end
//展开、收起安装说明start
$('.umengADsystem_combo h5').click(function(){
	$(this).children('a').toggleClass('down');
	$(this).next('.main_content').slideToggle();
})
$('#getMacMethod').click(function(){
	if($(this).parent().next().height() == 0){
		$(this).parent().next().attr("style","display:block; position:relative;");
	}else{
		$(this).parent().next().slideToggle();				
	}
			  
})
//展开、收起安装说明end

/**日历选择器--开始*/
function setDefautDate(){
	var date = new Date();
    var today = date.getFullYear()+'-'+((date.getMonth()+1<10)?'0'+(date.getMonth()+1):(date.getMonth()+1))+'-'+(date.getDate()<10?'0'+date.getDate():date.getDate());
    var sevenDayAgo_milliseconds=date.getTime()-1000*60*60*24*7;       
    var sDA = new Date();       
    sDA.setTime(sevenDayAgo_milliseconds);       
    var sevenDayAgo = sDA.getFullYear()+'-'+((sDA.getMonth()+1<10)?'0'+(sDA.getMonth()+1):(sDA.getMonth()+1))+'-'+(sDA.getDate()<10?'0'+sDA.getDate():sDA.getDate());
	$("#startDate").val(sevenDayAgo);
	$("#endDate").val(today);	
}
setDefautDate();
 $("#startDate").datepicker({    //绑定开始日期  
 			dateFormat:'yy-mm-dd',
            changeMonth:true,   //显示下拉列表月份  
            changeYear:true,    //显示下拉列表年份  
            firstDay:"1",           //设置开始为1号  
            onSelect:function(dateText,inst){  
                //设置结束日期的最小日期  
                $("endDate").datepicker('option','minDate',new Date(dateText.replace('-',',')));  
                  
                }  
            });  
              
        $("#endDate").datepicker({  //设置结束绑定日期  
        	dateFormat:'yy-mm-dd',
            changeMonth:true,   //显示下拉列表月份  
            changeYear:true,    //显示下拉列表年份  
            firstDay:"1",           //设置开始为1号  
            onSelect:function(dateText,inst){  
                //设置开始日期的最大日期  
                $('#startDate').datepicker('option','maxDate',new Date(dateText.replace('-',',')));  
                }  
            });  

/**日历选择器--结束*/
$("#changeDate").click(function(){
	if(window.startDate != $("#startDate").val() || window.endDate != $("#endDate").val())
	location.href="channels?app_key="+window.appkey+'&startDate='+$("#startDate").val()+'&endDate='+$("#endDate").val();
});

</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34123762-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
