{% include 'header.html' %}
<div class="content_banner">
	<p class="text">iOS分渠道激活统计</p>
	<p class="text_2">友盟基于海量用户访问数据分析<br />
	帮助开发者跟踪App Store多渠道激活转化数据</p>
	<a href="/register" class="btn">申请使用</a>
	<a href="/not_invited" class="adorn" style="display:block"></a>
</div>
<h2 class="main_title">追踪，如此简单</h2>
<div class="content_step">
	<ul>
		<li class="first">
			<h6><span>1</span>创建应用，获取追踪代码</h6>
		</li>
		<li class="second">
			<h6><span>2</span>应用中集成追踪代码</h6></li>
		<li class="third">
			<h6><span>3</span>区分渠道，获取渠道推广链接</h6></li>
		<li class="fourth">
			<h6><span>4</span>推广渠道链接，获取效果数据</h6>
		</li>
	</ul>
</div>
<h2 class="main_title">原理说明</h2>
<div class="content_principle">
	<div class="picture"></div>
	<ul>
		<li>1、通过对应用appstoreURL进行封装，获取分渠道点击用户的相关信息，包括：时间、ip、设备类型、操作系统版本；</li>
		<li>2、通过在应用中集成监控代码，获取初次打开应用的用户信息，包括时间、ip、设备类型、操作版本、UDID和MAC地址；
</li>
		<li>3、实时比对不同渠道的点击信息和应用激活用户信息，区分出不同渠道带来的激活用户；</li>
		<li>4、此统计方式不用媒介提供点击UDID，实时自动比对，会存在一定误差，但可以基本衡量各渠道之间以及不同时期的渠道激活转化数据。</li>
	</ul>
	<span class="adorn"></span>
</div>

{% include 'who_used.html'%}
{% include 'bottom.html'%}
</body>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34123762-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</html>
