/* ==reset style start== */
html {
	_height:100%;
}
body {
	height:100%;
	font-family:"微软雅黑", "黑体", "宋体", arial;
	font-size:12px;
	background:#F7F7F7;
}
body, h1, h2, h3, h4, h5, h6 {
	font-size:12px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	padding:0;
	margin:0;
}
a {
	text-decoration:none;
	color:#039;
}
ol, dl, ul, li, dl, dd, dt {
	list-style:none;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
img {
	border:none;
	vertical-align:top;
}
button, a, a span, button span {
	cursor: pointer;
}
select option {
	padding-right:3px;
}
input, button, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/* group 隐藏元素 */
/* class invisible */
.invisible {
	visibility:hidden;
}
/* class hidden */
.hidden {
	display: none;
}
/* end */

.right {
	float: right!important;
}
marquee {
	line-height:20px;
}
marquee p {
	margin:10px 0;
}
.noborder {
	border:none!important;
}
/* ==reset style end== */
/* ==common start== */
/* clear start */
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
.clear_line {
	margin:10px 0;
	height:1px;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
	clear:both;
}
/* clear end */
/* text_align start */
.align_left {
	text-align:left!important;
}
.align_center {
	text-align:center!important;
}
.align_right {
	text-align:right!important;
}
.v_align_top {
	vertical-align:top;
}
.v_align_middle {
	vertical-align:middle;
}
.v_align_bottom {
	vertical-align:bottom;
}
/* text_align end */
/* font start */
.font_red {
	color:#f00!important;
}
.font_green {
	color:#6DB33F!important;
}
.font_orange {
	color:#f60!important;
}
.font_blue {
	color:#00A6DC!important;
}
.font_gray {
	color:#bbb!important;
}
.font_bold {
	font-weight:bold;
}
.font_throughline {
	text-decoration:line-through;
}
.font_larger {
	font-size:20px;
}
/* font end */
/* header start */
.header_wrap{
	height:70px;
	background:#276C8E;
	margin-bottom:25px;
	box-shadow:0 0 10px #666;
}
.header{
	width:968px;
	height:70px;
	margin:0 auto;
	background:#005377 url(../../images/ios_channels/header_bg.gif) left center no-repeat;
}
.header .logo{
	width:350px;
	height:70px;
	color:#999;
	float:left;
	display:inline;
}
.header .logo a{
	display:block;
	height:100%;
	width:100%;
}
.header .part_link{
	color:#DDD;
	font-size:14px;
	height:70px;
	line-height:70px;
	float:right;
	display:inline;
	margin-right:20px;
}
.header .part_link a{
	margin:0 10px;
	color:#fff;
	font-size:14px;
}
.header .part_link a:hover{
	text-decoration:underline;
}
/* header end */
.main_title{
	width:968px;
	margin:0 auto;
	height:55px;
	line-height:55px;
	text-indent:35px;
	font-size:30px;
	font-weight:600;
	color:#005378;
}
.content_banner{
	width:968px;
	height:441px;
	margin:0 auto 25px;
	position:relative;
	background:url(../../images/ios_channels/conteng_1.jpg) center bottom  no-repeat;
	border:1px solid #ccc;
	border-radius:20px;
	box-shadow:0px 0px 5px #ccc;
	
}
.content_banner .text{
	position:absolute;
	left:63px;
	top:40px;
	line-height:45px;
	font-size:30px;
	font-weight:600;
	color:#005378;
}
.content_banner .text_2{
	width:370px;
	line-height:30px;
	position:absolute;
	left:109px;
	top:93px;
	font-size:16px;
	font-weight:bold;
	color:#666;
}
.content_banner .btn{
	position:absolute;
	left:632px;
	top:55px;
	width:260px;
	height:70px;
	line-height:70px;
	text-align:center;
	color:#333;
	font-size:30px;
	font-weight:bold;
	text-shadow:1px 1px 1px #fff;
	display:block;
	background:url(../../images/ios_channels/btn_link.png) 0 -100px no-repeat;
}
.content_banner .btn:hover{
	background-position:0 0;
	text-decoration:none;
}
.content_banner .adorn{
	width:100px;
	height:100px;
	background:url(../../images/ios_channels/banner_adorn.png) 0 0 no-repeat;
	position:absolute;
	right:0px;
	top:0px;
	display:none;
	cursor:help;
}
.content_step{
	width:968px;
	height:682px;
	margin:0 auto 25px;
	background:#fff url(../../images/ios_channels/content_step.png) center center no-repeat;
	border:1px solid #ccc;
	border-radius:20px;
	box-shadow:0px 0px 5px #ccc;
}
.content_step ul{
	width:968px;
	height:682px;
	margin:0 auto;
	padding-top:1px;
}
.content_step li{
	width:484px;
	height:340px;
	float:left;
	display:inline;
}
.content_step li h6{
	text-align:left;
	line-height:112px;
	padding-left:44px;
	font-size:24px;
	color:#666;
}
.content_step li h6 span{
	font-size:35px;
	color:#4CC5EF;
	font-weight:bold;
	margin-right:25px;
	float:left;
	margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
}
.content_step li.first{
	background:url(../../images/ios_channels/content_step_1.jpg) right bottom no-repeat;
}
.content_step li.second{
	background:url(../../images/ios_channels/content_step_2.jpg) right bottom no-repeat;
}
.content_step li.third{
	background:url(../../images/ios_channels/content_step_3.png) right bottom no-repeat;
}
.content_step li.fourth{
	background:url(../../images/ios_channels/content_step_4.png) right bottom no-repeat;
}
.content_principle{
	width:968px;
	height:738px;
	margin:0 auto 25px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:20px;
	box-shadow:0px 0px 5px #ccc;
	position:relative;
}
.content_principle .adorn{
	display:block;
	right:-1px;
	top:25px;
	width:235px;
	height:40px;
	position:absolute;
	background:url(../../images/ios_channels/banner_adorn_2.png) 0 0 no-repeat;
}
.content_principle .picture{
	width:908px;
	height:506px;
	background:url(../../images/ios_channels/content_principle_picture.png) center center no-repeat;
	padding:30px;
}
.content_principle ul{
	padding-left:35px;
	padding-right:35px;
}
.content_principle li{
	line-height:30px;
	font-size:13px;
	font-weight:bold;
	color:#666;
	padding-left:35px;
}
/* prompt start */
.prompt{
	width:968px;
	height:370px;
	margin:0 auto 50px;
	position:relative;
	background:#fff url(../../images/ios_channels/prompt_bg.jpg) 0 0 no-repeat;
	border:1px solid #ccc;
	border-radius:20px;
	box-shadow:0px 0px 5px #ccc;
}
.prompt .text_1{
	position:absolute;
	font-size:24px;
	font-weight:bold;
	left:164px;
	top:92px;
	color:#060;
}
.prompt .text_2{
	width:400px;
	position:absolute;
	font-size:24px;
	font-weight:bold;
	top:159px;
	margin-left:-200px;
	left:50%;
	color:#005378;
	text-align:center;
	font-size:30px;
}
.prompt .link_return{
	display:block;
	width:120px;
	height:48px;
	line-height:48px;
	font-size:18px;
	text-shadow:1px 1px 1px #eee;
	position:absolute;
	bottom:63px;
	left:50%;
	color:#333;
	margin-left:-60px;
	background:#CECECE;
	border-radius:10px;
	box-shadow:1px 1px 0 #fff;
	text-align:center;
}
.prompt .btn{
	position:absolute;
	bottom:93px;
	left:50%;
	margin-left:-80px;
	width:160px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#465517;
	border:none;
	font-size:18px;
	font-weight:bold;
	text-shadow:1px 1px 1px #fff;
	display:inline-block;
	background:#B3D34C;
	border-radius:10px;
	box-shadow:0px 0px 1px #ccc;
}

.prompt .link_return:hover{
	color:#005378;
}
.inuse{
	width:968px;
	height:181px;
	margin:0 auto 50px;
	border:1px solid #ccc;
	background:#fff;
	border-radius:20px;
	box-shadow:0px 0px 5px #ccc;
}
.inuse .list{
	width:968px;
	height:171px;
	padding:5px 0;
	margin:0 auto;
}
.inuse .list li{
	width:100px;
	height:174px;
	float:left;
	display:inline;
	text-align:center;
	margin:0 11px 0 10px;
}
.inuse .list li a{
	width:100px;
	display:block;
	height:100px;
	padding-top:20px;
	text-align:center;
	color:#333;
}
.inuse .list li a img{
	display:block;
	margin:0 auto;
	margin-bottom:5px;
	width:100px;
	height:100px;
}
/* prompt end */
.register{
	width:888px;
	border-radius:20px;
	margin: 0 auto 50px;
	padding:40px;
	background:#fff;
	border: 1px solid #CCCCCC;
	box-shadow:0px 0px 5px #ccc;
}
.register h1{
	height:50px;
	line-height:50px;
	font-size:25px;
	color:#005378;
}
.register th{
	text-align:right;
	font-size:16px;
	padding:20px;
	color:#333;
	text-shadow:1px 1px 1px #fff;
}
.register td{
	text-align:left;
	padding:20px;
}
.register .input_text{
	width:300px;
	height:30px;
	border:1px solid #ccc;
	border-top-color:#999;
	border-left-color:#999;
	background:#fff;
	padding:5px;
	border-radius:5px;
	box-shadow:0px 0px 5px #ccc;
}
.register .notice{
	margin-left:10px;
	display:none;
	color:#fff;
	font-size:14px;
	background:#f90;
	padding:5px 10px;
	border-radius:5px;
}
.register .btn{
	width:160px;
	height:50px;
	line-height:50px;
	text-align:center;
	color:#465517;
	border:none;
	font-size:18px;
	font-weight:bold;
	text-shadow:1px 1px 1px #fff;
	display:inline-block;
	background:#B3D34C;
	border-radius:10px;
	box-shadow:0px 0px 1px #ccc;
	margin-right:10px;
}
.register .btn:hover{
	color:#000;
}
.register .btn:active{
	background:#f90;
}
.register a{
	font-size:14px;
}
